nav{
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    background-image: linear-gradient(#F7F8F8,#ACBB78);
    min-height: 620px;
    position: sticky;
    z-index: 1;

}
a.nav-link{
    transition: 350ms all;
}
a.nav-link:hover{
    padding-left: 5px;
}
.active{
    color: #ff9933;
}
ul{
    margin-top: 20px;
}

a + ul{
    margin: unset;
}
.navbar__sub-list{
    display: none;
    margin-left: 40px;
}